@import "./../../../css/utils";
.counter .card-block {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.counter .card-block .card-title {
  text-transform: uppercase;
  padding: 0.25rem;
  font-size: 1rem;
  margin-bottom: 0;
}

.counter .card-block .card-text {
  margin-bottom: 0;
}

.counter .card-block .card-text .card-value {
  font-size: 2.6rem;
  line-height: 4rem;
  padding-left: 0.2rem;
}

@media(max-width:768px) {
  .counter .card-block .card-text .card-value.lg {
    font-size: 3rem;
  }
}

@media(min-width:769px) {
  .counter .card-block .card-text .card-value.lg {
    font-size: 4rem;
  }
}

.counter .card-block .card-text .card-variation {
  margin-left: 1rem;
}

.counter .card-block .card-icon {
  position: absolute;
  right: 0.25rem;
  top: 0.5rem;
  font-size: 4rem;
  opacity: 0.7;
}

@media(max-width:768px) {
  .counter .card-block .card-icon {
    right: 0.25rem;
    top: 0.25rem;
    font-size: 1.5rem;
    opacity: 0.95;
  }
}

.card-sparkline {
  position: relative;
  bottom: -6px;
  left: 0;
}


.bg-red {
  background: #E64759;
  color: #F0F3F6; }

.bg-green {
  background: #27ae60;
  color: #F0F3F6; }

.bg-purple {
  background: #9b59b6;
  color: #F0F3F6; }

.bg-yellow {
  background: #e67e22;
  color: #F0F3F6; }